<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card-block">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>名称</th>
              <th>图片</th>
              <th>电话</th>
              <th>地址</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let poi of poiList | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: total }">
              <td>{{poi.poi_id}}</td>
              <td>{{poi.name}}</td>
              <td>
                <img [src]='"http://p72agnv0x.bkt.clouddn.com/"+poi.head_img+"?imageView2/2/w/100/h/100/format/jpg/q/75|watermark/1/image/aHR0cHM6Ly9vanBibHkxdW4ucW5zc2wuY29tL2xvZ28ucG5n/dissolve/100/gravity/SouthEast/dx/10/dy/10|imageslim"'>
              </td>
              <td>{{poi.tel}}</td>
              <td>{{poi.address}}</td>
              <td>
                <a>确认</a>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="getPoiList($event)" previousLabel="上一页" nextLabel="下一页"></pagination-controls>
      </div>
    </div>
  </div>
</div>